body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 1em 0;
  margin-bottom: 2em;
}

header h3 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: 2em;
}

.taglist {
  padding: 0;
  margin: 0;
  display: inline;
}

.taglist li {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.card-action {
  font-weight: 100;
}

img {
  margin: 1em 10%;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

img.small {
  width: 30%;
  margin: 1em 35%;
}

pre {
  padding: 1em;
  margin: 2em 10%;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

code {
  font-size: 80%;
}

@media (max-width: 600px) {
	img {
		margin: 1em 0;
		width: 100%;
	}

	img.small {
		margin: 1em 10%;
		width: 80%;
	}

	pre {
		margin: 2em 0;
		width: 100%;
	}
}

article > ul:not(.browser-default) li {
	list-style-type: initial;
	margin-left: 2em;
}
