body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 1em 0;
  margin-bottom: 2em;
}

header h3 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: 2em;
}

.taglist {
  padding: 0;
  margin: 0;
  display: inline;
}

.taglist li {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.card-action {
  font-weight: 100;
}

img {
  margin: 1em 10%;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

pre {
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

