---
layout: default
title: Mero's Blog
---
<div class="row">
  {% for post in site.posts %}
  <div class="col s12 m12 l6 xl4">
    <a class="black-text" href="{{ post.url }}">
      <div class="card small hoverable">
        <div class="card-content">
          <span class="card-title">{{ post.title }}</span>
          {% if post.tldr %}
            <p>{{ post.tldr }}</p>
          {% endif %}
        </div>
        <div class="card-action">
          <span>{{ post.date | date: "%Y-%m-%d" }}<span>
          <ul class="taglist right">
            {% assign tags = post.tags | sort | reverse %}
            {% for tag in tags %}
              <li class="right">#{{ tag }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
